# Easier navigation: .., ..., ~
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias ctf="cd ~/Documents/CTFs"
alias doc="cd ~/Documents"
alias gh="cd ~/Documents/Github"
alias ero="cd ~/Documents/Writing/Ero"
alias notes="cd ~/Documents/Notes"

# ls aliases
alias ll='ls -alF'

# Misc aliases
alias c='clear'
alias cp="cp -i"                                                # Confirm before overwriting something
alias df='df -h'                                                # Human-readable sizes
alias free='free -m'                                            # Show sizes in MB

# Notes / Writing 
#alias nero='nvim ~/Documents/Writing/Ero/temp.txt'
#alias note='nvim ~/Documents/Notes/temp.txt'
#alias todo='nvim ~/Documents/Notes/todo.txt'

# Docker aliases
alias dps='docker ps -a'

# Git aliases
alias gpush='git push'
alias gpull='git pull'
alias gb='git branch'
alias gs='git status'
alias gcm='git commit'

# be nice
alias pls=sudo

# System udpates
alias update='sudo pacman -Syyu'
