# Easier navigation: .., ..., ~
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias ctf="cd ~/Documents/CTFs"
alias doc="cd ~/Documents"
alias gh="cd ~/Documents/Github"
alias notes="cd ~/Documents/Notes"

# ls aliases
# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias ll='ls -alFh --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# Misc aliases
alias c='clear'
alias cp="cp -i"                                                # Confirm before overwriting something
alias df='df -h'                                                # Human-readable sizes
alias free='free -m'                                            # Show sizes in MB

# Docker aliases
alias dps='docker ps -a'

# Git aliases
alias gpush='git push'
alias gpull='git pull'
alias gb='git branch'
alias gs='git status'
alias gcm='git commit'

# be nice
alias pls='sudo'

# System udpates
alias update='sudo apt-get update && sudo apt-get upgrade'
